# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
venv/

# Output
output/
*.xlsx

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/